body {
  padding-top: 10px;
  padding-bottom: 40px;
  background-color: #eee;
}

.form {
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;
}
.form .form-heading,
.form .checkbox {
  margin-bottom: 10px;
  text-align: center;
}
.form .checkbox {
  font-weight: normal;
}
.form .form-control {
  position: relative;
  height: auto;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  padding: 10px;
  font-size: 16px;
}
.form .form-control:focus {
  z-index: 2;
}
.form .topInput {
  margin-bottom: -1px;
  border-top-right-radius: 6px;
  border-top-left-radius: 6px;
}
.form .bottomInput {
  margin-bottom: 10px;
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
}

#submitBtn {
	margin-top: 10px;
	border-radius: 6px;
}